aside.sidebar {
    flex-direction: left;
}

.sidebar {
    background-color: #f8f9fa;
    padding: 50px auto;
    margin-right: 20px;
    width: 20%;
    float: left;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #212529;
}

.searchBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 20px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.searchBtn:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.content {
    flex: 1;
    flex-direction: right;
    background-color: #ffffff;
    padding: 5px;
    margin: 20px;
    content: 70%;
    border-radius: 10px;
}

.card {
    margin-bottom: 20px;
    width: calc(100% - 20px);
    margin-right: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    flex: 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    padding: 5px; 
}

.card-img, .weather-icon {
    width: .2rem;
    height: auto;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
}

.list-group-item {
    background-color: transparent;
    border: none;
    font-size: 0.9rem;
}

.card-link {
    color: #007bff;
    text-decoration: none;
}

.card-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .content .card {
        width: calc(50% - 20px);
    }
}
